<ion-view title="Home" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="home-card21">
            <ion-item class="item-icon-left dark  " id="home-list-item1">
                <i class="icon ion-ios-eye-outline"></i>Raidbeginn!
                <span class="item-note">11.08.2016</span>
            </ion-item>
            <div class=" item item-image">
                <img src="img/pd2vjGxSjuMOzIppAukP_13055790_10154747497393222_3351569145771011532_o.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="home-list-item-container1">
                <p id="home-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>