<ion-view title="Raidplaner" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="raidplaner-list2" class=" ">
            <ion-item class="item-divider " id="raidplaner-list-item-divider1">Juni</ion-item>
            <ion-list id="raidplaner-list3" class=" ">
                <ion-item class="item-thumbnail-left item-icon-right  " id="raidplaner-list-item6">
                    <h2>Legion Raid</h2>
                    <p>Some smaller Text</p>
                    <i class="icon ion-checkmark-round"></i>
                </ion-item>
                <ion-item class="item-icon-right balanced  " id="raidplaner-list-item3">Accept
                    <i class="icon ion-checkmark-round"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="raidplaner-list-item4">Maybe
                    <i class="icon ion-help"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="raidplaner-list-item5">Rejected
                    <i class="icon ion-close-round"></i>
                </ion-item>
            </ion-list>
            <ion-item class="item-divider " id="raidplaner-list-item-divider2">Juli</ion-item>
            <ion-item class="item-divider " id="raidplaner-list-item-divider3">August</ion-item>
            <ion-item class="item-divider " id="raidplaner-list-item-divider4">September</ion-item>
        </ion-list>
    </ion-content>
</ion-view>