<ion-view title="Roster" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="roster-list4" class=" ">
            <ion-item class="item-divider " id="roster-list-item-divider5">Tanks</ion-item>
            <ion-item class="item-avatar  " id="roster-list-item7">
                <h2>Adre</h2>
                <p>ist ein Fettbär</p>
            </ion-item>
            <ion-item class="item-avatar  " id="roster-list-item8">
                <h2>Unbekannt</h2>
            </ion-item>
            <ion-item class="item-divider " id="roster-list-item-divider6">Healer</ion-item>
            <ion-item class="item-avatar  " id="roster-list-item9">
                <h2>Araja</h2>
                <p>Geiler Healmonk</p>
            </ion-item>
            <ion-item class="item-avatar  " id="roster-list-item10">
                <h2>Eleidezz</h2>
                <p>Leider nich so gut wie Araja.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>